In [74]:
import pandas as pd
import numpy as np
import requests
import json
pd.set_option('display.max_columns', None)

In [75]:
data = pd.read_csv(r"C:\Users\nguye\Downloads\SoarIntoData\DatathonUCI_Addresses.csv")
data['Country'] = 'United States'
data.drop_duplicates()
data.head(5)

   RecordID            Address    City State    Zip        Country
0         1  515 E Peltason Dr  Irvine    CA  92617  United States
1         2        4 Alcott Ct  Irvine    CA  92617  United States
2         3        16 Joyce Ct  Irvine    CA  92617  United States
3         4     11 Murasaki St  Irvine    CA  92617  United States
4         5     10 Whistler Ct  Irvine    CA  92617  United States

In [ ]:
api_key = "pk.eyJ1IjoiamFtZXNhbmd1eWVuIiwiYSI6ImNtOWV5ejNjMjB3dTIyanBxOGU2aml3MnQifQ.6nSVwWHyxk7ns22-wixjbQ"

def getGeocode(row, api_key):
    api_url = f"https://api.mapbox.com/search/geocode/v6/forward?address_line1={row['Address']}&place={row['City']}&region={row['State']}&postcode={row['Zip']}&country={row['Country']}&access_token={api_key}"
    response = requests.get(api_url)

    try:
        data = response.json()
        features = data.get("features",[])

        if features:
            feature = features[0]
            coordinates = feature['geometry']['coordinates']
            longitude, latitude = coordinates[0], coordinates[1]

            return latitude, longitude
        
        else:
            print("No records returned.")
            return "N/A", "N/A"
    except:    
        return "N/A", "N/A"

In [ ]:
data[['Latitude', 'Longitude', 'Street']] = data.apply(
    lambda row: pd.Series(getGeocode(row, api_key)), axis=1
)
data.to_csv('geocode_full.csv', index=False)
data

,RecordID,Address,City,State,Zip,Country,Latitude,Longitude,Street
0,1,515 E Peltason Dr,Irvine,CA,92617,United States,33.643558,-117.836949,N/A
1,2,4 Alcott Ct,Irvine,CA,92617,United States,33.640281,-117.841190,N/A
2,3,16 Joyce Ct,Irvine,CA,92617,United States,33.634865,-117.841237,N/A
3,4,11 Murasaki St,Irvine,CA,92617,United States,33.640612,-117.835357,N/A
4,5,10 Whistler Ct,Irvine,CA,92617,United States,33.635310,-117.840356,N/A
...,...,...,...,...,...,...,...,...,...
348,349,8 Zola Ct,Irvine,CA,92617,United States,33.638006,-117.837461,N/A
349,350,8 Alcott Ct,Irvine,CA,92617,United States,33.640157,-117.841101,N/A
350,351,525 E Peltason Dr,Irvine,CA,92617,United States,33.644117,-117.837851,N/A
351,352,11 Owen Ct,Irvine,CA,92617,United States,33.639187,-117.837934,N/A
352,353,32 Twain,Irvine,CA,92617,United States,33.638642,-117.834913,N/A

In [121]:
df = pd.read_csv(r"C:\Users\nguye\Downloads\SoarIntoData\addresses_df.csv")
data['Street'] = df['Street']

In [125]:
streets = pd.unique(data['Street'])

# Partition dataset into subsets for each street
street_data = []
for street in streets:
    subset = data[data['Street'] == street]
    street_data.append(subset)

street_data[1]

,RecordID,Address,City,State,Zip,Country,Latitude,Longitude,Street
1,2,4 Alcott Ct,Irvine,CA,92617,United States,33.640281,-117.841190,Alcott Ct
19,20,20 Alcott Ct,Irvine,CA,92617,United States,33.639621,-117.841230,Alcott Ct
23,24,3 Alcott Ct,Irvine,CA,92617,United States,33.639908,-117.841697,Alcott Ct
24,25,24 Alcott Ct,Irvine,CA,92617,United States,33.639556,-117.841373,Alcott Ct
52,53,18 Alcott Ct,Irvine,CA,92617,United States,33.639661,-117.841212,Alcott Ct
55,56,1 Alcott Ct,Irvine,CA,92617,United States,33.639948,-117.841692,Alcott Ct
98,99,5 Alcott Ct,Irvine,CA,92617,United States,33.639840,-117.841738,Alcott Ct
101,102,6 Alcott Ct,Irvine,CA,92617,United States,33.640211,-117.841159,Alcott Ct
202,203,9 Alcott Ct,Irvine,CA,92617,United States,33.640230,-117.841470,Alcott Ct
203,204,22 Alcott Ct,Irvine,CA,92617,United States,33.639586,-117.841303,Alcott Ct
233,234,16 Alcott Ct,Irvine,CA,92617,United States,33.639798,-117.841048,Alcott Ct
234,235,2 Alcott Ct,Irvine,CA,92617,United States,33.640317,-117.841251,Alcott Ct
266,267,12 Alcott Ct,Irvine,CA,92617,United States,33.639937,-117.841029,Alcott Ct
276,277,10 Alcott Ct,Irvine,CA,92617,United States,33.639983,-117.841019,Alcott Ct
311,312,7 Alcott Ct,Irvine,CA,92617,United States,33.639768,-117.841761,Alcott Ct
336,337,14 Alcott Ct,Irvine,CA,92617,United States,33.639865,-117.841050,Alcott Ct
349,350,8 Alcott Ct,Irvine,CA,92617,United States,33.640157,-117.841101,Alcott Ct

In [122]:
from scipy.spatial.distance import pdist, squareform

def dist_haversine(coords1, coords2):
    lat1, lon1 = coords1
    lat2, lon2 = coords2

    dlat = lat2 - lat1
    dlon = lon2 - lon1

    a = np.sin(dlat/2.0)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2.0)**2
    c = 2 * np.arcsin(np.sqrt(a))
    R = 6371  
    return R * c

coords = np.array(data[["Latitude", "Longitude"]])
coords_rad = np.radians(coords)
dist_matrix = squareform(pdist(coords_rad, metric=dist_haversine)) 
dist_matrix

array([[0.        , 0.53563853, 1.0449527 , ..., 0.1040936 , 0.49451243,
        0.57821517],
       [0.53563853, 0.        , 0.60224744, ..., 0.5267633 , 0.32504228,
        0.60899767],
       [1.0449527 , 0.60224744, 0.        , ..., 1.07546907, 0.56961709,
        0.72051834],
       ...,
       [0.1040936 , 0.5267633 , 1.07546907, ..., 0.        , 0.54824483,
        0.66678291],
       [0.49451243, 0.32504228, 0.56961709, ..., 0.54824483, 0.        ,
        0.28615899],
       [0.57821517, 0.60899767, 0.72051834, ..., 0.66678291, 0.28615899,
        0.        ]])

In [151]:
from scipy.spatial.distance import squareform, pdist
import numpy as np

# Make sure RecordID is integer (or indexable)
data['RecordID'] = data['RecordID'].astype(int)

# Get coordinates and compute full distance matrix
coords = np.radians(data[["Latitude", "Longitude"]])
dist_matrix = pd.DataFrame(
    squareform(pdist(coords, metric=lambda u, v: dist_haversine(u, v))),
    index=data['RecordID'].values,
    columns=data['RecordID'].values
)

# Get unique streets
streets = pd.unique(data['Street'])

# Store optimal orderings
optimal_paths = {}

# Greedy TSP function
def greedy_tsp(dist_submatrix):
    nodes = list(dist_submatrix.index)
    path = [nodes[0]]
    remaining = set(nodes[1:])
    while remaining:
        last = path[-1]
        next_node = min(remaining, key=lambda x: dist_submatrix.loc[last, x])
        path.append(next_node)
        remaining.remove(next_node)
    return path

# Solve TSP for each street
for street in streets:
    subset = data[data['Street'] == street]
    ids = subset['RecordID'].tolist()
    
    if len(ids) <= 1:
        optimal_paths[street] = ids
        continue

    dist_submatrix = dist_matrix.loc[ids, ids]
    path = greedy_tsp(dist_submatrix)
    optimal_paths[street] = path

# Now optimal_paths is a dict: { street_name: [RecordID1, RecordID2, ...] }
optimal_paths

{'E Peltason Dr': [1, 168, 351],
 'Alcott Ct': [2,
  235,
  102,
  350,
  277,
  267,
  337,
  234,
  53,
  20,
  204,
  25,
  312,
  99,
  24,
  56,
  203],
 'Joyce Ct': [3, 36, 80, 83],
 'Murasaki St': [4,
  135,
  298,
  48,
  130,
  76,
  180,
  184,
  316,
  237,
  152,
  179,
  74,
  347,
  7,
  330,
  300,
  287,
  331,
  196,
  28,
  57,
  77,
  29,
  55,
  136],
 'Whistler Ct': [5, 252, 118, 166, 290, 191, 92, 293, 11, 137, 98, 266, 226],
 'Harvey Ct': [6,
  108,
  219,
  15,
  23,
  116,
  100,
  178,
  189,
  223,
  185,
  81,
  153,
  304,
  198],
 'Newton Ct': [8, 243, 183, 310, 241, 94, 295],
 'McClintock Ct': [9, 67, 296, 262, 111],
 'Gibbs Ct': [10, 127, 39, 286, 21, 161, 155, 341, 17, 195, 164, 278, 291],
 'Whitman Ct': [12,
  13,
  167,
  279,
  124,
  35,
  305,
  93,
  119,
  169,
  210,
  33,
  231,
  147,
  319,
  173,
  18,
  158],
 'Young': [14, 150, 19, 105],
 'Gabrielino Dr': [16,
  85,
  44,
  288,
  311,
  228,
  187,
  217,
  245,
  275,
  281,
  246,
  251,
  276,
  303,
  193,
  254,
  160],
 'Fuertes': [22,
  344,
  32,
  146,
  340,
  239,
  117,
  333,
  52,
  315,
  112,
  221,
  230,
  78,
  132],
 'Perkins Ct': [26, 335, 271, 65, 82, 91, 126, 301, 224, 289, 220, 97],
 'Virgil Ct': [27,
  274,
  225,
  30,
  176,
  63,
  103,
  120,
  257,
  211,
  332,
  317,
  59,
  122,
  37,
  186],
 'Schubert Ct': [31,
  62,
  255,
  233,
  272,
  69,
  334,
  218,
  128,
  250,
  87,
  229,
  214,
  194,
  329,
  68,
  222,
  268,
  192,
  209,
  285,
  66,
  58,
  64,
  212,
  259,
  114,
  208,
  302,
  199,
  207,
  162,
  60,
  215,
  113,
  131,
  342,
  54,
  197],
 'Owen Ct': [34, 143, 149, 50, 284, 200, 86, 322, 90, 248, 352, 338, 109],
 'Dickens Ct': [38,
  79,
  240,
  123,
  325,
  216,
  121,
  40,
  261,
  327,
  125,
  282,
  323,
  84,
  51,
  292,
  264,
  188,
  106,
  171,
  181],
 'Blake Ct': [41, 145, 154, 256, 260, 42, 309],
 'Thompson Ct': [43, 101, 236, 144, 163, 156, 73, 242, 247],
 'Handel Ct': [45, 140, 129, 345],
 'Twain': [46, 75, 151, 270, 159, 142, 202, 104, 353],
 'Russell Ct': [47,
  244,
  110,
  170,
  336,
  313,
  232,
  138,
  177,
  324,
  148,
  283,
  314,
  71,
  265,
  190,
  326,
  318],
 'Zola Ct': [49,
  294,
  133,
  297,
  115,
  213,
  107,
  263,
  182,
  172,
  349,
  307,
  346,
  253],
 'Curie Ct': [61, 320, 205, 280, 201, 308],
 'Eliot Ct': [70, 89, 348],
 'Frost': [72, 174, 339, 141, 206, 299, 165, 134, 249],
 'Mendel Ct': [88, 175, 273, 227, 306],
 'Los Trancos Dr': [95, 238, 157, 343],
 'Urey Ct': [96, 328, 321, 139, 269, 258]}